# Outputs
dist

# Dependencies
node_modules

# Mac OS clutter
.DS_Store

# Visual Studio
*.sln
.vs
*.user

# ReSharper is a .NET coding add-in // SOURCE: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Dev tools
ngrok.exe
/1. serve.bat
/2. host.bat
